a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.spacer {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.spacer {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.spacer {
    flex: 1 1 auto;
}
